/lab_1/.settings
/lab_1.2/.settings
/lab_2/.settings
/lab_2.2/.settings
/lab_3/.settings
/lab_4/.settings
/lab_5/.settings
/lab5_home/.settings
/lab6_class/.settings
/lab6_home/.settings
/lab7_class/.settings
/lab7_home/.settings
/lab8_class/.settings
/lab8_home/.settings
/lab9_html/.settings
/lab10_class/.settings
/lab10_sort/.settings
/lab11_list/.settings
/lab12_list/.settings